.grid.grid.grid-container
  - @contact_details.each do |contact_detail|
    .grid__cell.grid__cell--33
      .view__heading
        %b='Name: '
        = contact_detail.name
      .view__heading
        %b='Email: '
        =  contact_detail.email
      .view__heading
        %b='Comment: '
        =  contact_detail.comments
:css
  .grid-container {
    grid-gap: 10px;
    grid-template: 150px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid;
  }