= form_tag contact_details_path(@contact_detail), method: 'post', data: { unsaved_changes: '' } do
  - if @contact_detail.errors.present?
    - @contact_detail.errors.full_messages.each do |message|
      %li= message

  .view
    .view__header
      .view__heading
        %h1='New Contact Detail'

    .section
      .bulk-actions
        .grid.grid--middle.grid--center
          .grid__cell.grid__cell--50
            .bulk-actions__section
              .bulk-actions__sub-section
                .property
                  = label_tag 'contact_detail[name]', 'Name', class: 'property__name'
                  = text_field_tag 'contact_detail[name]', @contact_detail.name, class: 'text-box'
              .bulk-actions__sub-section
                .property
                  = label_tag 'contact_detail[email]', 'Email', class: 'property__name'
                  = text_field_tag 'contact_detail[email]', @contact_detail.email, class: 'text-box'
              .bulk-actions__sub-section
                .property
                  = label_tag 'contact_detail[comments]', 'Comments', class: 'property__name'
                  = text_area_tag 'contact_detail[comments]', @contact_detail.comments, class: 'text-box', maximum: 300

        .grid__cell.grid__cell--33
          .grid.grid--auto.grid--right.grid--middle
            .grid__cell= button_tag 'Save Contact Detail', value: 'create_contact_detail', class: 'workflow-bar__button workflow-bar__button--update'
